* {
	margin: 0px; 
	padding: 0px; 
    box-sizing: border-box;
    line-height: 1.7;
}

body {
    background: url(https://res.cloudinary.com/ce0la/image/upload/v1568617576/Landing_1_gdb1zg.png);
    background-position: center;
    opacity: 0.4; 
}




h1 {
    color: rgb(163, 29, 163);
}

p, a {
   font-size: 14px;
   text-decoration: none;
}

a:hover {
    font-weight: bold;
    
}

label {
    font-weight: bold;
}

input {
    margin-bottom: 20px;
    width: 80%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    /*border-bottom: 1px solid #ddcfcf;*/
}

button {
    border: 4px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 30px auto;
    width: 150px;
    font-size: 20px;
    background: white;
}

button:hover {
    cursor: pointer;
}


.login {
    width: 60%;
    max-width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 20px 40px;
    margin: 200px auto;
    text-align: center;
}

.message {
    color: #b3b3b3;
}